body {
        background: url(https://cdn.hipwallpaper.com/i/7/49/TaS1s0.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.homepage-header {
    position: relative;
    width: 100%;
}

.home_quote {
    position: absolute;
    margin-top: 10%;
    color: lightgray;
    font-size: 25px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

.quote_author {
    position: relative;
    color: lightgray;
    font-style: italic;
    font-size: 25px;
    margin-top: 20%;
}

.introduction {
    color: white;
    padding-bottom: 10px;
}

.lk {
    float: right;
}

.name {
    float: left;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 25px;

}

.description {
    text-align: justify;
    clear: both;
    padding: 5px 20px 5px 20px;
    font-size: 13px;
    background-color: black;
    color: lightgray;

}

a:link {
    text-decoration: none;
}

a {
    color: inherit;
}

.page-title {
    padding-top: 30px;
    padding-bottom: 30px;
    color: turquoise;
}

.navbar {
    padding-left: 33%;
    position: fixed;
}

.tabs-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.homepage-links {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: white;
}

.homepage-links:hover {
    text-decoration: none;
    color: turquoise;
}

.visualization, .scraping, .statistics {
    border-color: white;
    border-width: 1px;
    border-style: solid;
    width: 180px;
    height: 50px;
    float: left;
    background-color: black;
}

.homepage-header {
    position: fixed;
    top: 0;
    margin-bottom: 5%;
}

.lk:hover {
    text-decoration: none;
    color: turquoise;
}

.register_form {
    position: absolute;
    color: white;
    left:33%;
}

.form-group {
    display: inline-block;
}
