{% extends "layout.html" %}
{% block content %}
	<h1>ABOUT</h1>
	<div class="presentation" background-color="#949494">
		<div class="introduction">
			<h3 class="name">{{ names[0] }}</h3>
			<p>{{ presentations["Daniel"] }}</p>
			<a href="https://www.linkedin.com/in/daniel-biskupski/" target="_blank"><img src="http://www.freeiconspng.com/minicovers/linkedin-logo-17.png"></a>
		</div>
		<div class="introduction">
			<h3 class="name">{{ names[1] }}</h3>
			<p>{{ presentations["Bastien"] }}</p>
			<a href="https://www.linkedin.com/in/bastienratat/" target="_blank"><img src="http://www.freeiconspng.com/minicovers/linkedin-logo-17.png"></a>
		</div>
	</div>
{% endblock content %}


