{% extends "layout.html" %}
{% block content %}
	<h1 class="page-title">ABOUT</h1>
	<div class="presentation" background-color="#949494">
		<div class="introduction">
			<div class="intro">
				<h3 class="name"><a onmouseover="changeColor_orangered(this)" onmouseout="changeColor_orangered(this)" href="https://www.linkedin.com/in/daniel-biskupski/">{{ names[0] }}</a></h3>
			</div>
			<p class="description">{{ presentations["Daniel"] }}</p>
		</div>
		<div class="introduction">
			<div class="intro">
				<h3 class="name"><a onmouseover="changeColor_orangered(this)" onmouseout="changeColor_orangered(this)" href="https://www.linkedin.com/in/bastien-ratat/">{{ names[1] }}</a></h3>
			</div>
			<p class="description">{{ presentations["Bastien"] }}</p>
		</div>
		<div class="introduction">
			<div class="intro">
				<h3 class="name"><a onmouseover="changeColor_orangered(this)" onmouseout="changeColor_orangered(this)" href="https://www.linkedin.com/in/mcmills25/">{{ names[2] }}</a></h3>
			</div>
			<p class="description">{{ presentations["Michael"] }}</p>
		</div>
	</div>
{% endblock content %}


